
@import 'react-modal-pop/dist/index.min.css';

:root {
  --cute-emoji-mint-green: #76dbab;
  --cute-emoji-orange: #ef9d62;
  --cute-emoji-light-purple: #9492ff;
  --cute-emoji-purple: #cb8eff;
  --cute-emoji-light-blue: #5fc9ff;
  --cute-emoji-yellow: #f8c52f;
}

.cute-emojies-modal-container { 
  
  .modal-body {
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    width: 290px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 0;
      margin-top: 20px;
    }

    .body {
      color: #c4cad3;
    }

    .btn {
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 40px;
      border: none;
      color: white;
      font-weight: 600;
      margin-top: 10px;
      cursor: pointer;
    }

    .emoji-container {
      margin-top: -70px;
      position: relative;

      .dot {
        border-radius: 100%;
        position: absolute;

        &.left-1 {
          width: 10px;
          height: 10px;
          top: 7%;
          left: -16%;
          background-color: #9290f4;
        }
        &.left-2 {
          width: 5px;
          height: 5px;
          top: 41%;
          left: -6%;
          background-color: #fad141;
        }
        &.left-3 {
          width: 8px;
          height: 8px;
          top: 87%;
          left: -8%;
          background-color: #e7759f;
        }
        &.right-1 {
          width: 6px;
          height: 6px;
          top: 30%;
          right: -13%;
          background-color: #e7759f;
        }
        &.right-2 {
          width: 10px;
          height: 10px;
          right: -23%;
          top: 66%;
          background-color: #9290f4;
        }
        &.right-3 {
          width: 6px;
          height: 6px;
          top: 90%;
          right: -3%;
          background-color: #78d8af;
        }

        &.star-1 {
          width: 10px;
          height: 10px;
          top: 62%;
          left: -34%;
          path {
            fill: #78d8af;
          }
        }

        &.star-2 {
          width: 12px;
          height: 12px;
          top: 4%;
          right: -32%;
          path {
            fill: #78d8af;
          }
        }
      }
    }
  }

  .mint-green {
    .btn {
      background-color: var(--cute-emoji-mint-green);
    }
    .title {
      color: var(--cute-emoji-mint-green);
    }
  }

  .orange {
    .btn {
      background-color: var(--cute-emoji-orange);
    }
    .title {
      color: var(--cute-emoji-orange);
    }
  }

  .light-purple {
    .btn {
      background-color: var(--cute-emoji-light-purple);
    }
    .title {
      color: var(--cute-emoji-light-purple);
    }
  }

  .purple {
    .btn {
      background-color: var(--cute-emoji-purple);
    }
    .title {
      color: var(--cute-emoji-purple);
    }
  }

  .light-blue {
    .btn {
      background-color: var(--cute-emoji-light-blue);
    }
    .title {
      color: var(--cute-emoji-light-blue);
    }
  }

  .yellow {
    .btn {
      background-color: var(--cute-emoji-yellow);
    }
    .title {
      color: var(--cute-emoji-yellow);
    }
  }
  
  .emojies {
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: center;
  
    svg {
      height: 100%;
    }
    &.emoji-1 {
      .cls-1 {
        fill: #5b0600;
      }
  
      .cls-2 {
        fill: #8e1112;
      }
  
      .cls-3 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
      }
  
      .cls-4 {
        clip-path: url(#clippath);
      }
  
      .cls-5 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
    &.emoji-2 {
      .cls-1 {
        stroke: #5b0600;
        stroke-width: 4px;
      }
  
      .cls-1,
      .cls-2 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
  
      .cls-2 {
        stroke: #000;
        stroke-width: 5px;
      }
  
      .cls-3 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
    &.emoji-3 {
      .cls-1 {
        stroke: #000;
      }
  
      .cls-1,
      .cls-2 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
  
      .cls-2 {
        stroke: #5b0600;
      }
  
      .cls-3 {
        fill: url(#Degradado_sin_nombre_136);
      }
  
      .cls-4 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
    &.emoji-4 {
      .cls-1 {
        opacity: 0.68;
      }
  
      .cls-2 {
        stroke: #5b0600;
        stroke-width: 4px;
      }
  
      .cls-2,
      .cls-3 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
  
      .cls-3 {
        stroke: #000;
        stroke-width: 5px;
      }
  
      .cls-4 {
        fill: url(#Degradado_sin_nombre_91);
      }
  
      .cls-5 {
        fill: url(#Degradado_sin_nombre_128);
      }
    }
    &.emoji-5 {
      .cls-1 {
        fill: none;
        stroke: #5b0600;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
  
      .cls-2 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
    &.emoji-6 {
      .cls-1 {
        fill: url(#Degradado_sin_nombre_109);
        fill-rule: evenodd;
      }
  
      .cls-2 {
        fill: none;
        stroke: #5b0600;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
  
      .cls-3 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
  
    &.emoji-7 {
      .cls-1 {
        fill: #5b0600;
      }
  
      .cls-2 {
        fill: #8e1112;
      }
  
      .cls-3 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
      }
  
      .cls-4 {
        clip-path: url(#clippath);
      }
  
      .cls-5 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
  
    &.emoji-8 {
      .cls-1 {
        fill: #5b0600;
      }
  
      .cls-2 {
        fill: #8e1112;
      }
  
      .cls-3 {
        fill: url(#Degradado_sin_nombre_109);
      }
  
      .cls-3,
      .cls-4 {
        fill-rule: evenodd;
      }
  
      .cls-5 {
        clip-path: url(#clippath);
      }
  
      .cls-6 {
        fill: url(#Degradado_sin_nombre_91);
      }
  
      .cls-4 {
        fill: url(#Degradado_sin_nombre_109-2);
      }
    }
  
    &.emoji-9 {
      .cls-1 {
        fill: #5b0600;
      }
  
      .cls-2 {
        fill: #8e1112;
      }
  
      .cls-3 {
        clip-path: url(#clippath);
      }
  
      .cls-4 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
  
    &.emoji-10 {
      .cls-1 {
        fill: #fff;
      }
  
      .cls-2 {
        fill: none;
        stroke: #5b0600;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
  
      .cls-3 {
        isolation: isolate;
      }
  
      .cls-4 {
        fill: #18181e;
      }
  
      .cls-5 {
        // mix - blend - mode: overlay;
        opacity: 0.72;
      }
  
      .cls-6 {
        fill: #161616;
      }
  
      .cls-7 {
        fill: url(#Degradado_sin_nombre_91);
      }
    }
  }
}

